/.venv
/frontend/node_modules
/frontend/build
/.coverage
/.mypy_cache/
/.venv/
/cahoots-in-uploads/
/cahoots/__pycache__/
/cahoots/web/__pycache__/
/cahoots/worker/__pycache__/
/cahoots_in.egg-info/
/file-server-uploads/
/file_server.egg-info/
/flask_session/
/frontend/build/
/frontend/node_modules/
/operations/helm/charts/
/tests/__pycache__/
/tests/functional/__pycache__/
/tests/unit/__pycache__/
