/.venv
/frontend/node_modules
/frontend/build
/.coverage
/.mypy_cache/
/.venv/
/cognodes-io-uploads/
/cognodes/__pycache__/
/cognodes/web/__pycache__/
/cognodes/worker/__pycache__/
/cognodes_io.egg-info/
/file-server-uploads/
/file_server.egg-info/
/flask_session/
/frontend/build/
/frontend/node_modules/
/operations/helm/charts/
/tests/__pycache__/
/tests/functional/__pycache__/
/tests/unit/__pycache__/
