---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: volume-cahoots-in
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: do-block-storage
---
kind: PersistentVolume
apiVersion: v1
metadata:
  name: pvc-cahoots-in
  annotations:
    # fake it by indicating this is provisioned dynamically, so the system
    # works properly
    pv.kubernetes.io/provisioned-by: dobs.csi.digitalocean.com
spec:
  storageClassName: do-block-storage
  # by default, the volume will be not deleted if you delete the PVC, change to
  # "Delete" if you wish the volume to be deleted automatically with the PVC
  persistentVolumeReclaimPolicy: Retain
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  csi:
    driver: dobs.csi.digitalocean.com
    fsType: ext4
    volumeHandle: 101187de-45d7-11e8-9b2b-0242ac116704
    volumeAttributes:
      com.digitalocean.csi/noformat: "true"
