{% extends "base.html" %}
{% block middle %}
<h2>Container Config</h2>
<div class="list-group">
  {% for key, value in config.items() %}
  {% if key.startswith("OAUTH2_") %}
      {% if 'SECRET' in key %}
          {% set kind="danger" %}
          {% set value="**REDACTED**" %}
      {% elif 'URL' in key %}
          {% set kind="warning" %}
      {% else %}
          {% set kind="info" %}
      {% endif %}
  <div class="list-group-item list-group-item-{{ kind }}">
    <h4 class="list-group-item-heading">{{ key }}</h4>
    <p class="list-group-item-text">
      <pre class="text-danger">{{ value }}</pre>
    </p>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endblock %}
